.fotos {
	padding-top: 0px;
	margin: 0px;
	max-width: 800px;
	max-height: 900px;

}
.contenedor {
	margin: 50px 0px -10px 0px;
	padding: 0px;
	border-width: 10px;
	border-color: black;
	border-style: solid;
	background-color: #e66767;

}

.label {
	font-size: 20px;
	font-family: titulo3;
}

.imagen {
	border-style: solid;
	border-color: black; 
	border-width: 10px;
}



.titulo {
	font-family: titulo;
}

.titulo2 {
	font-family: titulo2;
}
.titulo3 {
	font-family: titulo3;
}

.titulo3-name {
	font-family: titulo3;
	font-size: 40px;
	margin: 10px 0px -15px 0px;
}

@font-face{
	font-family: titulo;
	src: url("../fonts/Ananda Personal Use.ttf");
	
}
@font-face{
	font-family: titulo2;
	src: url("../fonts/Hello Valentina.ttf");
}

@font-face{
	font-family: titulo3;
	src: url("../fonts/CaviarDreams.ttf");
}
/** ADD YOUR AWESOME CODES HERE **/